<h1>Listing produces</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Title</th>
      <th>Description</th>      
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produces.each do |produce| %>
      <tr class="<%= cycle('list_line_odd','list_line_even')%>">
        <td><%= image_tag(produce.image_url,:class => 'list_image') %></td>
        <td><%= produce.title %></td>
        <td><%= produce.description %></td>        
        <td><%= produce.price %></td>
        <td><%= link_to 'Show', produce %><br>
        <%= link_to 'Edit', edit_produce_path(produce) %><br>
        <%= link_to 'Destroy', produce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produce', new_produce_path %>
