<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @produce.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @produce.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @produce.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @produce.price %>
</p>

<%= link_to 'Edit', edit_produce_path(@produce) %> |
<%= link_to 'Back', produces_path %>
